{% extends 'base.html' %}
{% block title %} Projektai {% endblock %}

{% block content %}
{% load i18n %}
<div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
<!--    <img class="me-3" src="../assets/brand/bootstrap-logo-white.svg" alt="" width="48" height="38">-->
    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-card-checklist me-3" viewBox="0 0 16 16">
  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
  <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
</svg>


    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">{% trans "Projektai" %}</h1>
      <small>{% trans "Visi musu projektai" %}</small>
    </div>
  </div>




<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{% trans "Projektas" %}</th>
      <th scope="col">{% trans "Nuotrauka" %}</th>
      <th scope="col">{% trans "Pradžios data" %}</th>
      <th scope="col">{% trans "Pabaigos data" %}</th>
      <th scope="col">{% trans "Darbuotojai" %}</th>
      <th scope="col">{% trans "Klientas" %}</th>
      <th scope="col">{% trans "Darbai" %}</th>
      <th scope="col">{% trans "Saskaita" %}</th>
        <th scope="col">{% trans "Aprasymas" %}</th>
      <th scope="col">{% trans "Suma" %}</th>
    </tr>
  </thead>
  <tbody>
  {% load static %}
  {% for projekto in projektai %}
    <tr>

      <th scope="row"><a href="{% url 'projektas' projekto.id %}">{{projekto.pavadinimas}}</a></th>
      {% if projekto.nuotrauka %}
              <th><img src="{{ projekto.nuotrauka.url }}" class="card-img-top"></th>
            {% else %}
             <th> <img src="{% static 'no-image.jpg' %}" class="card-img-top"></th>
            {% endif %}

      <td>{{projekto.pradzios_data}}</td>
      <td>{{projekto.pabaigos_data}}</td>
      <td>{{projekto.darbuotojas_id.pavarde}}</td>
      <td>{{projekto.klientas_id}}</td>
      <td>{{projekto.darbas_id.pavadinimas}}</td>
      <td>{{projekto.saskaita_id}}</td>
        <td>{{projekto.aprasymas | safe}}</td>
        <td>{{projekto.saskaita_id.suma}}</td>
    </tr>
{% endfor %}
<!--    <tr>-->
<!--      <th scope="row">2</th>-->
<!--      <td>Jacob</td>-->
<!--      <td>Thornton</td>-->
<!--      <td>@fat</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">3</th>-->
<!--      <td colspan="2">Larry the Bird</td>-->
<!--      <td>@twitter</td>-->
<!--    </tr>-->
  </tbody>
</table>

<div class="container puslapiai">
    <nav aria-label="...">
        {% if projektai.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in projektai.paginator.page_range %}
                    {% if projektai.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>

{% endblock %}