{% extends 'base.html' %}
{% block title %} Projektai {% endblock %}

{% block content %}
{% load i18n %}
<div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
<!--    <img class="me-3" src="../assets/brand/bootstrap-logo-white.svg" alt="" width="48" height="38">-->
    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-card-checklist me-3" viewBox="0 0 16 16">
  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
  <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
</svg>


    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">{% trans "Projektas" %}</h1>
      <h2>{{ projektas.pavadinimas }}</h2>
    </div>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{% trans "Projektas" %}</th>

      <th scope="col">{% trans "Pradžios data" %}</th>
      <th scope="col">{% trans "Pabaigos data" %}</th>
      <th scope="col">{% trans "Darbuotojai" %}</th>
      <th scope="col">{% trans "Klientas" %}</th>
      <th scope="col">{% trans "Darbai" %}</th>
      <th scope="col">{% trans "Saskaita" %}</th>

      <th scope="col">{% trans "Suma<" %}/th>
    </tr>
  </thead>
  <tbody>

    <tr>

      <th scope="row">{{projektas.pavadinimas}}</th>

      <td>{{projektas.pradzios_data}}</td>
      <td>{{projektas.pabaigos_data}}</td>
      <td>{{projektas.darbuotojas_id.pavarde}}</td>
      <td>{{projektas.klientas_id}}</td>
      <td>{{projektas.darbas_id.pavadinimas}}</td>
      <td>{{projektas.saskaita_id}}</td>

        <td>{{projektas.saskaita_id.suma}}</td>
    </tr>


  </tbody>
</table>


<div class="container author">
{% load static %}
    <h4> {{ projektas.aprasymas | safe }}</h4>
    <hr/>
     {% if projektas.nuotrauka %}
              <th><img src="{{ projektas.nuotrauka.url }}" class="card-img-top"></th>
            {% else %}
             <th> <img src="{% static 'no-image.jpg' %}" class="card-img-top"></th>
            {% endif %}
    </hr>
    </br>
<!--    <h5>Mes turime šias {{ author.first_name }} {{ author.last_name }} knygas:</h5>-->
<!--    {% for i in author.books.all %}-->
<!--       <li>{{ i.title }}</li>-->
<!--    {% endfor %}-->
    </div>


{% endblock %}